<div class="tab-content" ng-show="isReportTabActive" ng-controller="UserViewReportsController" ng-init="init()">
  <form name="NewReportForm" ng-submit="onNewReportSubmit(NewReportForm.$valid)" novalidate>
    <div class="form-group">
      <select
        name="issue"
        class="form-control"
        required
        ng-options="issue.id as issue.name for issue in user.careplan.issues"
        ng-model="newReport.issue_id">
        Activity or Issue
      </select>
    </div>
  </form>
</div>