<div class="tab-content" ng-show="isCareplanTabActive" ng-controller="PatientViewCareplanController" ng-init="init()">
  <div ng-if="'<%= current_user.role %>' == 'doctor'" class="new-plan-form">
    <form name="newIssueForm" ng-submit="onNewIssueSubmit(newIssueForm.$valid)" novalidate>
      <div class="form-group">
        <input
          type="text"
          name="name"
          class="form-control"
          required
          ng-model="patient.careplan.newIssue.name"
          placeholder="Enter the issue"
          tabIndex="1">
      </div>
      <div class="form-group" ng-repeat="goal in patient.careplan.newIssue.goals">
        <button class="btn btn-primary button-remove-goal" ng-if="!showAddGoal(goal)" ng-click="removeGoal(goal)" tabIndex="{{goal.id + 2}}">
          <%= embedded_svg "icons/remove.svg" %>
        </button>
        <button class="btn btn-primary button-add-goal" ng-show="showAddGoal(goal)" ng-click="addGoal()" tabIndex="{{goal.id + 2}}">
          <%= embedded_svg "icons/add.svg" %>
        </button>
        <span><input
          type="text"
          name="activity"
          class="form-control"
          required
          ng-model="goal.activity"
          placeholder="Enter goal or activity"
          tabIndex="{{goal.id + 3}}"></span>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary"
          ng-disabled="newIssueForm.$invalid"
          tabIndex="{{patient.careplan.newIssue.goals.length + 3}}">Submit</button>
      </div>
    </form>
  </div>

  <div class="careplan-issues">
    <div class="patient-issue-repeat" ng-repeat="issue in patient.careplan.issues">
      <p><strong>{{issue.name}}</strong></p>
      <p class="issue-activity" ng-repeat="goal in issue.goals">{{goal.activity}}</p>
    </div>
  </div>
</div>