<div class="tab-content" ng-show="isHistoryTabActive">
  <div class="clearfix patient-issue-repeat" ng-repeat="report in patient.reports">
    <p>
      <span class="pull-left">
        <strong>{{formatDate(report.created_at)}}</strong>
        &#151;
        {{report.issue.name}}
      </span>
      <span class="pull-right">
        <strong>{{report.user.proper_name}}</strong>
      </span>
    </p>
    <p class="clear-both notes">{{report.notes}}</p>
  </div>
</div>