<div class="tab-content vitals-tab-content" ng-show="isVitalsTabActive" ng-controller="PatientViewVitalsController" ng-init="init()">

  <button class="btn btn-primary" ng-click="onToggleVitalsClick()">
    <span ng-if="isVitalsGraphActive">Take Vitals</span>
    <span ng-if="isVitalsFormActive">Show Graph</span>
  </button>

  <%= render partial: 'patients/components/new_vitals_form' %>
  <%= render partial: 'patients/components/vitals_charts' %>
</div>