<div class="sign-in row" ng-controller="SignInController" ng-init="init()">
  <div class="col-sm-6 col-sm-offset-3">

    <ul class="nav nav-tabs">
      <li class="tab" ng-class="{ active: isMedicalTabActive }">
        <a href="#" ng-click="onMedicalTabClick($event)">
          <%= embedded_svg "icons/local_hospital.svg", class: 'tab-icon' %>
        </a>
      </li>
      <li class="tab" ng-class="{ active: isPatientTabActive }">
        <a href="#" ng-click="onPatientTabClick($event)">
          <%= embedded_svg "icons/account_box.svg", class: 'tab-icon' %>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <form name="signInForm" ng-submit="onSignInSubmit(signInForm.$valid)" novalidate>
        <div class="form-group">
          <input
            ng-if="isMedicalTabActive"
            type="text"
            name="email"
            class="form-control"
            placeholder="Enter Email Address"
            ng-model="user.email"
          >
          <input
            ng-if="isPatientTabActive"
            type="text"
            name="roomNumber"
            class="form-control"
            placeholder="Enter Room Number"
            ng-model="patient.room_number">
        </div>

        <div class="form-group">
          <input
            ng-if="isMedicalTabActive"
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            ng-model="user.password"
          >
          <input
            ng-if="isPatientTabActive"
            type="text"
            name="firstName"
            class="form-control"
            placeholder="Patient's First Name"
            ng-model="patient.first_name"
          >
        </div>

        <div class="form-group" ng-if="isPatientTabActive">
          <input
            type="text"
            name="lastName"
            class="form-control"
            placeholder="Patient's Last Name"
            ng-model="patient.last_name"
          >
        </div>

        <div class="form-group pull-right">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

  </div>
</div>